In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://minio.lab.sspcloud.fr/arougier/donneefinances/Quelsques_cours_Actions_Bourse_Paris.csv", sep=";")
df

,ticker,label,date,open,high,low,close,volume,currency
0,FR0010340141,ADP,43832,176.800,178.100,175.100,176.100,70483,EUR
1,FR0010340141,ADP,43833,176.000,176.000,173.200,173.700,45246,EUR
2,FR0010340141,ADP,43836,173.300,173.300,170.900,171.700,78258,EUR
3,FR0010340141,ADP,43837,172.700,173.100,171.900,172.100,36545,EUR
4,FR0010340141,ADP,43838,171.800,173.600,171.300,173.600,56082,EUR
...,...,...,...,...,...,...,...,...,...
7340,XC0009694271,NASDAQ Composite,11/11/2022,11124.749,11352.429,11069.829,11323.331,0,NaN
7341,XC0009694271,NASDAQ Composite,14/11/2022,11233.904,11350.125,11167.165,11196.220,0,NaN
7342,XC0009694271,NASDAQ Composite,15/11/2022,11474.820,11492.616,11241.152,11358.410,0,NaN
7343,XC0009694271,NASDAQ Composite,16/11/2022,11260.095,11286.101,11162.923,11183.659,0,NaN
7344,XC0009694271,NASDAQ Composite,17/11/2022,11008.672,11198.838,11006.213,11144.958,0,NaN

On remarque qu'il faut modifier cette base de données car certaines informations sont incomplètes, ou que les informations ne sont pas correctement mises pour notre analyse.
Par exemple, les dates ne sont pas écrite de la même manière, et les devises sont absentes pour certaines actions. Il faut donc modifier cela. Les dates pour chaques actions vont du 2 Janvier 2022 jusqu'au 17 Novembre 2022. Nous devons donc modifer cela pour chaque actions
Nous allons donc couper le tableau avec toutes les actions et effectuer cette modification sur chaque action puis remettre tous les tableaux ensemble

In [6]:
l = np.unique(df.label)
l

array(['ADP', 'AXA', 'BNP PARIBAS', 'CAC 40', 'DANONE', 'DAX',
       'NASDAQ Composite', 'Nikkei 225', 'SANOFI', 'SOCIETE GENERALE'],
      dtype=object)