In [5]:
#Projet Python pour la data science 2A

In [6]:
#Importation 
import pandas as pd
import numpy as np

In [ ]:
I Récupérer les données = convertir format python
les mettre dans un tableau

In [7]:
df = pd.read_csv("https://minio.lab.sspcloud.fr/arougier/test_autre.csv", sep=";")

In [8]:
df

            date       open       high        low      close  volume
0          43832    176.800    178.100    175.100    176.100   70483
1          43833    176.000    176.000    173.200    173.700   45246
2          43836    173.300    173.300    170.900    171.700   78258
3          43837    172.700    173.100    171.900    172.100   36545
4          43838    171.800    173.600    171.300    173.600   56082
...          ...        ...        ...        ...        ...     ...
7340  11/11/2022  11124.749  11352.429  11069.829  11323.331       0
7341  14/11/2022  11233.904  11350.125  11167.165  11196.220       0
7342  15/11/2022  11474.820  11492.616  11241.152  11358.410       0
7343  16/11/2022  11260.095  11286.101  11162.923  11183.659       0
7344  17/11/2022  11008.672  11198.838  11006.213  11144.958       0

[7345 rows x 6 columns]

In [ ]:
Modofier le document => faire en sorte qu ils ont les mêmes données

In [26]:
df.describe()
#on remarque que les données ne sont pas toutes les mêmes pour les dates, on va alors modifier la première colonne
#on va donc créer un tableau qui affichent les dates 
df_time = pd.to_datetime(['11/12/2017', '05/01/2018'], dayfirst = True)
df_time
#on a donc créer un tableau qui nous donne bien les dates qu'il faut
#on va l'ajouter à notre autre tableaux

#new_df = df.assign(Date = df_time)



#pd.date_range(start='1/1/2020', end='1/08/2022')
#index_temps = pd.date_range('2018/02/01 ','2018/03/31' )
#print(index.temps)

DatetimeIndex(['2017-12-11', '2018-01-05'], dtype='datetime64[ns]', freq=None)

In [ ]:
II analyse des données
faire des graphiques, prévisions

In [ ]:
III Prévision sur les prochains prix 
on s entraine sur un certain nombre de données, puis on teste sur 30%

In [72]:
#Entrainement inspiration d'une video

#algorithme de régression
#faire un décalage d'un jour prédire en t+1 grâce au donnée au temps t

#il faut préparer les données pour le test et l'apprentissage
#df[420:]

df2 = df.copy()

df_test = df.drop(df2.columns[[0, 2, 3, 4, 5]], axis=1, inplace=True)
df_test



#on effectue une régression linéraire sur le premier indice des prix


#df_test[0:742]
#X = df_test[0:741]
#Y = df_test[1:742]
#Y

#dataset = df_test
#X = dataset.iloc[0:741,1:2]
#Y = dataset.iloc[1:742,1:2]


#X_train = X.iloc[0:500,:].values
#Y_train = Y.iloc[0:500,:].values


#X_test = X.iloc[500:742,:].values
#Y_test = Y.iloc[500:742,:].values

#importation de la régression linéaire

from sklearn.linear_model import LinearRegression

reg = LinearRegression()

#on utilise fit pour entraîner le modèle


reg.fit(X_train, Y_train)

y_pred = reg.predic(X_test)

#Graphique des prédictions

import matplotlib.pyplot as plt

plt.plot(y_pred, color='green')
plt.plot(Y_test, color='gray')

#faire un fonction de gain qui va simuler une stratégie